body {
    background-color: #160F29;
    color: #F3DFC1;
    font-family: 'Sarabun', sans-serif;
    margin: 0;
}

.flex-container {
    display: flex;
}

#logo {
    float: left;
}

#sitename {
    margin-left: 15px;
}

nav {
    float: left;
    flex: 1;
    margin: 3vw;
    min-width: 120px;
    top: 0;
    background: #070313;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 200%;
    position: sticky;
    top: 0;
}

nav ul li {
    text-align: center;
    padding: 5px;
}

nav ul li:hover {
    display: block;
    background: #100c1a;
}

nav ul li a {
    text-decoration: none;
}

a:visited {
    color: #246A73;
    text-decoration: none;
}

a:link {
    color: #368F8B;
}

p {
    line-height: 170%;
    margin-right: 50px;
}

p::first-letter {
    font-size: x-large;
}

.full-width {
    background-color: #070313;
    padding-left: 3%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
}

footer {
    color: #DDBEA8;
}

header {
    font-family: 'Pixelify Sans', sans-serif;
}