body {
    background-color: #160F29;
    color: #F3DFC1;
    font-family: 'Sarabun', sans-serif;
    margin: 0;
}

.flex-container {
    display: flex;
}

#logo {
    float: left;
}

#sitename {
    margin-left: 15px;
}

nav {
    float: left;
    flex: 1;
    margin-right: 3vw;
    padding-right: 2vw;
    padding-left: 2vw;
    min-width: 110px;
    position: sticky;
    top: 0;
    background-color: #070313;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: none;
    line-height: 200%;
}

a:visited {
    color: #246A73;
    text-decoration: none;
}

a:link {
    color: #368F8B;
}

p {
    line-height: 170%;
}

.full-width {
    background-color: #070313;
    padding-left: 3%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
}

footer {
    color: #DDBEA8;
}

header {
    font-family: 'Pixelify Sans', sans-serif;
}