body {
    background-color: #368F8B;
    color: #F3DFC1;
    font-family: 'Sarabun', sans-serif;
    font-weight: 800;
    margin: 0;
}

.flex-container {
    display: flex;
}

#sitename {
    margin-left: 15px;
}

nav {
    flex: 1;
    margin: 3vw;
    min-width: 120px;
    background: #246A73;
    font-size: large;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 100%;
    position: sticky;
    top: 0;
}

nav ul li {
    text-align: center;
    padding: 10px 5px;
}

nav ul li:hover {
    background: #100B1E;
    color: cyan;
}

#sub-list {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
}

nav ul li a:link {
    color: #DDBEA8;
}

nav ul li a:link, nav ul li a:visited {
    text-decoration: none;
}

nav ul li a:hover {
    color: cyan;
}

a:visited {
    color: #261158;
    text-decoration: none;
}

a:link {
    /* color: #4e3980; */
}

p {
    line-height: 170%;
    margin-right: 50px;
}

p::first-letter {
    font-size: x-large;
}

.full-width {
    background-color: #246A73;
    padding-left: 3%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
}

footer {
    color: #9b7c67;
}

header {
    color: #DDBEA8;
    font-size: x-large;
    font-family: 'Pixelify Sans', sans-serif;
}